[changelog]
header = """# Changelog\n\n"""
body = """
{% if tag is defined %}{% set current_tag = tag %}{% elif version is defined %}{% set current_tag = version %}{% else %}{% set current_tag = "Unreleased" %}{% endif %}
{% if timestamp is defined %}{% set current_date = timestamp | date(format="%Y-%m-%d") %}{% else %}{% set current_date = now() | date(format="%Y-%m-%d") %}{% endif %}
{% if groups %}
## {{ current_tag }} - {{ current_date }}
{% for group in groups %}
### {{ group.title }}
{% for commit in group.commits %}
- {{ commit.message | trim }}
{% endfor %}

{% endfor %}
{% endif %}
"""
trim = true
footer = ""

[git]
conventional_commits = true
filter_unconventional = true
tag_pattern = "v[0-9].*"
protect_breaking_commits = true
