<?xml version="1.0" encoding="utf-8"?>
<RunSettings>
    <DataCollectionRunSettings>
        <DataCollectors>
            <DataCollector friendlyName="Code Coverage">
                <Configuration>
                    <Include>
                        <ModulePath>.*\.dll$</ModulePath>
                        <ModulePath>.*\.exe$</ModulePath>
                    </Include>
                    <Exclude>
                        <ModulePath>.*\.Tests\.dll</ModulePath>
                        <ModulePath>.*\.Tests\.exe</ModulePath>
                        <ModulePath>.*\.Tests\.</ModulePath>
                        <ModulePath>Mono.*</ModulePath>
                    </Exclude>
                    <IncludeTestAssembly>False</IncludeTestAssembly>
                </Configuration>
            </DataCollector>
        </DataCollectors>
    </DataCollectionRunSettings>
</RunSettings>
