<?xml version="1.0" encoding="utf-8"?>
<RunSettings>
    <RunConfiguration>
        <ResultsDirectory>./TestResults</ResultsDirectory>
        <CollectSourceInformation>true</CollectSourceInformation>
        <MaxCpuCount>0</MaxCpuCount>
    </RunConfiguration>
    <!-- Configurations for data collectors -->
<!--    <DataCollectionRunSettings>
        <DataCollectors>
            <DataCollector friendlyName="XPlat code coverage">
                <Configuration>
                    <Format>Cobertura</Format>
                    <OutputDirectory>Coverage</OutputDirectory>
                    <FileName>coverage.cobertura.xml</FileName>
                    <Exclude>
                        <Namespace>System.CodeDom.Compiler.GeneratedCodeAttribute</Namespace>
                    </Exclude>
                    <SkipAutoProps>true</SkipAutoProps>
                </Configuration>
            </DataCollector>
        </DataCollectors>
    </DataCollectionRunSettings>-->
</RunSettings>
