name: Publish NuGet Prerelease

on:
  pull_request:
    types:
      - closed
    branches:
      - main # trigger on PR merge to main branch

  workflow_dispatch:
    inputs:
      semver-prerelease-prefix:
        description: "Prerelease prefix (e.g. preview, alpha, beta, rc1, etc.)"
        type: string
        required: true
        default: preview

      reason:
        description: "Reason for manual pre-release"
        required: true
        type: string

env:
  PACKAGE_PROJECTS: >-
    ["src/Ulid/Ulid.csproj"]

  NUGET_SERVER: ${{ vars.NUGET_SERVER || 'github' }}

jobs:
  get-params:
    name: Prepare the parameters
    runs-on: ubuntu-latest
    if: github.event.pull_request.merged == true || github.event_name == 'workflow_dispatch'
    outputs:
      dotnet-version: ${{ steps.init-params.outputs.dotnet-version }}
      package-projects: ${{ steps.init-params.outputs.package-projects }}
      nuget-server: ${{ steps.init-params.outputs.nuget-server }}
      minver-tag-prefix: ${{ steps.init-params.outputs.minver-tag-prefix }}
      semver-prerelease-prefix: ${{ steps.init-params.outputs.semver-prerelease-prefix }}
      reason: ${{ steps.init-params.outputs.reason }}
      save-package-artifacts: ${{ steps.init-params.outputs.save-package-artifacts }}
    steps:
      - name: Gather parameters
        id: init-params
        shell: bash
        run: |
          dotnet_version='${{ vars.DOTNET_VERSION }}'
          package_projects='${{ env.PACKAGE_PROJECTS }}'
          nuget_server='${{ env.NUGET_SERVER }}'
          minver_tag_prefix='${{ vars.MINVERTAGPREFIX || 'v' }}'
          semver_prerelease_prefix='${{ vars.SEMVER_PRERELEASE_PREFIX || 'preview' }}'
          reason='auto-triggered by a merged pull request'
          save_package_artifacts=false

          if [ '${{ github.event_name }}' == "workflow_dispatch" ]; then
              semver_prerelease_prefix='${{ inputs.semver-prerelease-prefix }}'
              reason='${{ inputs.reason }}'
          fi

          # Set the outputs:
          {
              echo "dotnet-version=${dotnet_version}"
              echo "package-projects=${package_projects}"
              echo "nuget-server=${nuget_server}"
              echo "minver-tag-prefix=${minver_tag_prefix}"
              echo "semver-prerelease-prefix=$semver_prerelease_prefix"
              echo "reason=${reason}"
              echo "save-package-artifacts=${save_package_artifacts}"
          }  >> $GITHUB_OUTPUT

  log-trigger:
    name: Log manual trigger reason
    if: github.event_name == 'workflow_dispatch'
    runs-on: ubuntu-latest
    steps:
      - name: Log manual trigger reason
        run: |
          echo "::notice::Manual release triggered by ${{ github.actor }}"
          echo "::notice::Reason: ${{ inputs.reason }}"

  prerelease:
    name: Prerelease
    needs:
      - get-params
    uses: vmelamed/vm2.DevOps/.github/workflows/_prerelease.yaml@main
    secrets:
      NUGET_API_GITHUB_KEY: ${{ secrets.NUGET_API_GITHUB_KEY }}
      NUGET_API_NUGET_KEY: ${{ secrets.NUGET_API_NUGET_KEY }}
      NUGET_API_KEY: ${{ secrets.NUGET_API_KEY }}
    permissions:
      contents: write # Required to checkout the code and create releases
      packages: write # Required to restore and publish GitHub Packages NuGet packages
      pull-requests: write # Required to comment on PRs
      checks: write # Required to create GitHub Checks
    with:
      dotnet-version: ${{ needs.get-params.outputs.dotnet-version }}
      package-projects: ${{ needs.get-params.outputs.package-projects }}
      nuget-server: ${{ needs.get-params.outputs.nuget-server }}
      minver-tag-prefix: ${{ needs.get-params.outputs.minver-tag-prefix }}
      semver-prerelease-prefix: ${{ needs.get-params.outputs.semver-prerelease-prefix }}
      reason: ${{ needs.get-params.outputs.reason || '' }}
      save-package-artifacts: ${{ needs.get-params.outputs.save-package-artifacts }}
