name: Publish NuGet Release

on:
  push:
    tags:
      - "v[0-9]*.[0-9]*.[0-9]*" # trigger on version tags like v1.2.3

  workflow_dispatch:
    inputs:
      reason:
        description: "Reason for manual release"
        required: true
        type: string

      force-publish:
        description: "Force publish"
        type: boolean
        default: false

env:
  PACKAGE_PROJECTS: >-
    ["src/vm2.Ulid/vm2.Ulid.csproj"]
  NUGET_SERVER: nuget

jobs:
  get-params:
    name: Prepare the parameters
    runs-on: ubuntu-latest
    if: >+
      ${{
      github.event_name == 'workflow_dispatch' ||
      !contains(github.ref_name,'-') &&
      startsWith(github.ref, format('refs/tags/%s', vars.MinVerTagPrefix || 'v'))
      }}
    outputs:
      package-projects: ${{ steps.init-params.outputs.package-projects }}
      nuget-server: ${{ steps.init-params.outputs.nuget-server }}
      force-publish: ${{ steps.init-params.outputs.force-publish }}
    steps:
      - name: Gather parameters
        id: init-params
        shell: bash
        run: |
          package_projects='${{ env.PACKAGE_PROJECTS }}'
          nuget_server='${{ env.NUGET_SERVER }}'
          force_publish=false

          if [ '${{ github.event_name }}' == "workflow_dispatch" ]; then
            force_publish='${{ inputs.force-publish }}'
          fi

          # Set the outputs:
          {
            echo "package-projects=${package_projects}"
            echo "nuget-server=${nuget_server}"
            echo "force-publish=${force_publish}"
          }  >> $GITHUB_OUTPUT

  log-trigger:
    name: Log manual trigger reason
    if: github.event_name == 'workflow_dispatch'
    runs-on: ubuntu-latest
    steps:
      - name: Log manual trigger reason
        run: |
          echo "::notice::Manual release triggered by ${{ github.actor }}"
          echo "::notice::Reason: ${{ inputs.reason }}"

  release:
    name: Release
    needs:
      - get-params
    uses: vmelamed/vm2.DevOps/.github/workflows/_release.yaml@main
    secrets:
      NUGET_API_GITHUB_KEY: ${{ secrets.NUGET_API_GITHUB_KEY }}
      NUGET_API_NUGET_KEY: ${{ secrets.NUGET_API_NUGET_KEY }}
      NUGET_API_KEY: ${{ secrets.NUGET_API_KEY }}
    permissions:
      contents: write # Required to checkout the code
      packages: write # Required to publish GitHub Packages NuGet packages
      pull-requests: write # Required to comment on PRs
      checks: write # Required to create GitHub Checks
    with:
      package-projects: ${{ needs.get-params.outputs.package-projects }}
      dotnet-version: ${{ vars.DOTNET_VERSION }}
      force-publish: ${{ fromJSON(needs.get-params.outputs.force-publish) }}
      nuget-server: ${{ needs.get-params.outputs.nuget-server }}
      save-package-artifacts: true
